PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/maa_bagalamukhi_db
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRE=30d
ADMIN_DEFAULT_EMAIL=admin@maabagalamukhi.org
ADMIN_DEFAULT_PASSWORD=Admin@123456
